.card-stack {
  display: grid;
  flex-wrap: wrap;
  grid-gap: 30px;
}

.card {
  background-color: var(--color-black);
  color: var(--color-white);
  width: auto;
  min-width: 315px;
  max-width: 400px;
  margin: 0 30px;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  position: relative;
}

.card:last-of-type {
  margin-bottom: 94px;
}

.card__bookmark {
  fill: var(--color-primary-soft);
  height: 50px;
  width: 40px;
  position: absolute;
  top: -5px;
  right: 5%;
}

.card__bookmark--selected {
  fill: var(--color-primary);
  height: 50px;
  width: 40px;
  position: absolute;
  top: -5px;
  right: 5%;
}

.card__heading {
  font-size: 2.5rem;
  text-align: center;
}

.card__question {
  text-align: center;
  padding: 30px 0;
  font-weight: 600;
  line-height: 1.3;
}

.card__answer {
  text-align: center;
  padding: 30px 0;
  font-style: italic;
}

.card__button {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
}

.card__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card__list--item {
  background-color: var(--color-gray);
  padding: 5px;
  margin: 2.5px;
  border-radius: 5px;
}
