.create {
  background-color: var(--color-primary);
  width: 100%;
  height: auto;
}

.create__form {
  background-color: var(--color-black);
  color: var(--color-white);
  width: 90%;
  max-width: 400px;
  margin: 5% auto 0;
  padding: 30px;
  border-radius: 15px;
  text-align: left;
  position: relative;
}

.main__create__heading {
  text-align: center;
  color: var(--color-white);
  font-weight: 500;
  font-size: 1.5em;
  height: 64px;
  padding-top: 20px;
}

.create__form__heading {
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 15px;
}

.create__form__form {
  font-family: inherit;
  width: 100%;
  height: fit-content;
  margin-bottom: 30px;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
}
