* {
  box-sizing: border-box;
  margin: 0;
  justify-content: center;
}

body {
  font-family: prompt, sans-serif;
  font-size: 112.5%;
  line-height: 1;
  height: 100vh;
  background-color: oldlace;
}

input,
button {
  font-size: 1em;
}
