.hidden {
  display: none !important;
}

.selected {
  fill: var(--color-primay) !important;
}

.m0 {
  margin: 0 !important;
}

.mb30 {
  margin-bottom: 30px;
}

.mbt30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
