.navi-bar {
  background: var(--color-primary);
  color: var(--color-white);
  height: auto;
}

.navi-bar__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
  padding-bottom: 5%;
}

a {
  text-decoration: none;
  font-size: 2rem;
}
