.app-header {
  background-color: var(--color-primary);
  width: 100%;
  height: auto;
}

.app-header__heading {
  text-align: center;
  color: var(--color-white);
  height: 64px;
  padding-top: 15px;
}
