.app-header {
  background-color: var(--color-primary);
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.app-header__heading {
  text-align: center;
  color: var(--color-white);
  padding-top: 15px;
}
