.app-header {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 12px;
  border-radius: 0.5em;
}

.app-header__heading {
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  margin: 0;
}
